<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form name="f" method="POST" action="/process_login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <label for="username">Введите имя пользователя:</label>
    <input type="text" id="username" name="username"/>
    <br/>
    <label for="password">Введите пароль:</label>
    <input type="password" id="password" name="password"/>
    <br/>
    <input type="submit" value="Login">
    <div th:if="${param.error}" style="color:red">Неверный пароль или логин</div>
</form>
</body>
</html>